.result{
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1rem;
    text-align: justify;
}

.result div {
    margin: 0;
    padding: 0;
}

